//
// AG HERITAGE MUSEUM
// CUSTOM OVERRIDES
//

.top-bar {
	color: $white;
	height: 90px;
	section {
		// overflow: visible;
		height: 90px;
	}
	section ul {
		background: $black;
		display: block;
	}
	form {
		background-color: $black;
	}
	input[type="search"] {
		background-color: $lightGrey;
		border: none;
	}
//	li {
//		background-color: $mediumGrey; dsfsafs
//	}
}

#ag-heritage-seal {
	z-index: 1000;
	// overflow: visible;
	// height: 200px;
}

// #join-donate-contact
#join-donate-contact {
	background-color: $black;
	li a {
		background-color: $mediumGrey;
	}
	li:not(.has-form) a:not(.button) {
		line-height: 2rem;
	}
	li:first-child a {
		-webkit-border-bottom-left-radius: $agHeritageBorderRadius;
		-moz-border-radius-bottomleft: $agHeritageBorderRadius;
		border-bottom-left-radius: $agHeritageBorderRadius;
	}
	li:last-child a {
		-webkit-border-bottom-right-radius: $agHeritageBorderRadius;
		-moz-border-radius-bottomright: $agHeritageBorderRadius;
		border-bottom-right-radius: $agHeritageBorderRadius;
	}
}
#join-donate-contact, #search {
	// display: block !important;
	color: $darkGrey;
	height: ($topbar-height/2) !important;
}

#primary-navigation {
	// clear:both;
	margin-bottom: 0;
	background-color: $darkTan;
	a {
		color: $white;
	}
	&:hover,
	&:focus {
		color: $white;
	}
	li {
		border-left: 1px solid $lightTan;
		margin-left: 0;
		margin-right: 0.5rem;
		padding-left: 0.5rem;
		&:first-child {
			border-left: none;
			margin-left: 6rem;
		}
//		&:hover,
//		&:focus {
//			background-color: $lightTan;
//		}
	}
}

#primary-nav-wrapper {
	background: $darkTan;
}

#page-title {
	// line-height: 1rem !important;
	a {
	//	font-family: "Times New Roman";
		font-color: $lightTan;
	}
}

.right-off-canvas-menu {
	background: $darkTan;
	label {
		background: $darkTan;
		border-top: none !important;
	}
	input[type="search"] {margin: 0 0 0 0;}
}

#homepage-main-content {
	background-color: $mediumGrey;

	.panel {
		margin-top: 0.9375rem;
	}
}

#main-content {
	background-color: $mainContent;
	color: $black;
}
#left-navigation {
	background-color: $leftNavigationBackgroundColor;
}


#footer-wrapper {background-color: $mediumGrey;}
footer {
	background-color: $black;

	.columns, .panel {
//		border: none;
	}
	h4,
	a,
	a:hover,
	a:focus {
		color: $lightGrey;
	}
	.side-nav li a:not(.button) {
		color: $lightGrey;
	}
}

#address {
	background-color: $mediumGrey;
	border: none;
	color: $white;
	margin-right: -0.9375rem;
	margin-bottom: 0;
//	z-index: 1000;

	a,
	a:focus,
	a:hover {
		color: $white !important;
	}
}

#social-media-icons {
	margin: 1rem 0;
	img {
		// float: right;
	}
}

#copyright {
	color: $white;
	background-color: $mediumGrey;
	margin-bottom: 0;
}

// Small-sized screens only
@media #{$screen} and (max-width: #{upper-bound($small-range)})
{
	footer .columns {
		padding-left: 0;
		padding-right: 0;
	}
	#social-media-icons, #address {
		width: 100%;
	}
}

// Medium-sized screens and up
@media #{$screen} and (min-width:#{lower-bound($medium-range)}) {
	#social-media-icons {
		text-align: right !important;
	}
	#copyright {
		background: $black;
		color: $lightGrey;
	}
}
