//
// AG HERITAGE MUSEUM
// CUSTOM OVERRIDES
//

.top-bar {
	color: $white;
	height: 90px;
	section {
		// overflow: visible;
		height: 90px;
	}
	section ul {
		background: $black;
		display: block;
	}
	form {
		background-color: $black;
	}
	input[type="search"] {
		background-color: $lightGrey;
		border: none;
	}
}

.top-bar-section #ag-heritage-seal {
	height: 9rem;
	margin-left: -1.5rem;
}
.tab-bar-section #ag-heritage-seal {
	height: $tabbar-height - 0.25rem;
}

#join-donate-contact {
	background-color: $black;
	li a {
		background-color: $mediumGrey;
	}
	li:not(.has-form) a:not(.button) {
		line-height: 2rem;
	}
	li:first-child a {
		-webkit-border-bottom-left-radius: $agHeritageBorderRadius;
		-moz-border-radius-bottomleft: $agHeritageBorderRadius;
		border-bottom-left-radius: $agHeritageBorderRadius;
	}
	li:last-child a {
		-webkit-border-bottom-right-radius: $agHeritageBorderRadius;
		-moz-border-radius-bottomright: $agHeritageBorderRadius;
		border-bottom-right-radius: $agHeritageBorderRadius;
	}
}
#join-donate-contact, #search {
	color: $darkGrey;
	height: ($topbar-height / 2) !important;
}

.orbit-bullets-container {
	margin-top:-60px;
	margin-right: 0.9375rem;
	// .orbit-bullets {
		// float: right;
	// }
}

.main-section,
#primary-nav-wrapper {
	z-index: -1;
	position:relative;
}

#primary-navigation {
	// clear:both;
	margin-bottom: 0;
	background-color: $darkTan;
	a {
		color: $white;
	}
	&:hover,
	&:focus {
		color: $white;
	}
	li {
		border-left: 1px solid $lightTan;
		margin-left: 0;
		margin-right: 0.5rem;
		padding-left: 0.5rem;
		&:first-child {
			border-left: none;
			margin-left: 7rem;
		}
	}
}

#page-title,
.title,
#primary-navigation,
#primary-navigation-mobile,
.tab-bar .off-canvas-list {
	text-transform:uppercase;
}

#page-title {
	font-color: $lightTan;
}
#primary-nav-wrapper {
	background: $darkTan;
}

#page-title {
	// line-height: 1rem !important;
	a {
		font-color: $lightTan;
		&:hover {
			background: $black;
		}
	}
}

.tab-bar h1.title {
	line-height: 1.2rem;
	a {
		color: $lightGrey;
	}
}

.right-off-canvas-menu {
	background: $darkTan;
	label {
		background: $darkTan;
		border-top: none !important;
	}
	input[type="search"] {margin: 0 0 0 0;}
}

#homepage-main-content {
	background-color: $mediumGrey;
	.panel {
		margin-top: 0.9375rem;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $darkTan;
	}
}

#main-content {
	background-color: $mainContentColor;
	color: $black;
}
#left-navigation {
	background-color: $leftNavigationBackgroundColor;
	li:first-child {
		margin-top: 1rem;
	}
}

.tab-bar {
	border-bottom: 0.25rem solid $darkTan;
	box-sizing: content-box;
	// padding-bottom: 0.5rem;
}

#footer-wrapper {
	background-color: $mediumGrey;
}
footer {
	background-color: $black;

	.columns, .panel {
//		border: none;
	}
	h4,
	a,
	a:hover,
	a:focus {
		color: $lightGrey;
	}
	.side-nav li a:not(.button) {
		color: $lightGrey;
	}
}

#address {
	background-color: $mediumGrey;
	border: none;
	color: $white;
	margin-right: -1rem ; //-0.9375rem;
	margin-bottom: 0;
//	z-index: 1000;

	a,
	a:focus,
	a:hover {
		color: $white !important;
	}
}

#social-media-icons {
	margin: 1rem 0;
	img {
		// float: right;
	}
}

#copyright {
	color: $white;
	background-color: $mediumGrey;
	margin-bottom: 0;
}

// Small-sized screens only
@media #{$screen} and (max-width: #{upper-bound($small-range)})
{
	footer .columns {
		padding-left: 0;
		padding-right: 0;
	}
	#social-media-icons, #address {
		width: 100%;
	}
}

// Medium-sized screens and up
@media #{$screen} and (min-width:#{lower-bound($medium-range)})
{
	#social-media-icons {
		text-align: right !important;
	}
	#copyright {
		background: $black;
		color: $lightGrey;
	}
}
