//
// AG HERITAGE MUSEUM
// CUSTOM OVERRIDES
//

// Set all headings to $greyDark
@for $i from 1 through 6 {
  h#{$i} {
    color: $greyDark;
  }
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: $greyDark;
// }


// {
//   color: $whiteDark;
// }

#small-search input {
  width: 100%;
  height: 2.5rem;
}


 ul.breadcrumbs {
	padding-bottom: 0;
 }


//no
// Navigation (Medium and Up)
.top-bar {
	color: $whiteDark;
	height: 90px;
	section {
		// overflow: visible;
		height: 90px;
	}
	section ul {
		background: $greenDark;
		display: block;
	}
	form {
		background-color: $greenDark;
	}
	// input[type="search"] {
	input {
		background-color: $greyLight;
		border: none;
    border-top-left-radius: $agHeritageBorderRadius;
    border-bottom-left-radius: $agHeritageBorderRadius;
    padding-left: 1rem;
	}
  .button {
    border-top-right-radius: $agHeritageBorderRadius;
    border-bottom-right-radius: $agHeritageBorderRadius;
  	height: 1.7rem;
  }
}
.top-bar-section #ag-heritage-seal {
	height: 12rem;
	margin-left: -1.5rem;
	position: relative;
	z-index: 1;
}
.top-bar .name h1 a {
  color: $whiteDark;
  &:hover,
  &:focus {
    // color: $greyLight;
    color: $whiteLight;
  }
}
#page-title-medium-up {
	// color: $whiteDark;
	padding-top: 1rem;
	a {
//		color: $greyLight;
		line-height: 30px;
		&:hover {
			background: $greenDark;
		}
	}
}
#join-donate-contact {
  height: 45px;
  overflow: hidden;
	// background-color: $whiteDark;
  margin-right: 1.66667rem;
	// display: block;
	//margin-bottom: 0.5rem;
	li a {
		background-color: $whiteDark;
    color: $blackLight;
    &:hover,
    &:focus {
      color: $greyDark;
    }
	}
	li:not(.has-form) a:not(.button) {
		line-height: 2rem;
	}
	li:first-child a {
		-webkit-border-bottom-left-radius: $agHeritageBorderRadius;
		-moz-border-radius-bottomleft: $agHeritageBorderRadius;
		border-bottom-left-radius: $agHeritageBorderRadius;
	}
	li:last-child a {
		-webkit-border-bottom-right-radius: $agHeritageBorderRadius;
		-moz-border-radius-bottomright: $agHeritageBorderRadius;
		border-bottom-right-radius: $agHeritageBorderRadius;
	}
}
#search {
  margin-right: 1.66667rem;
	// color: $greyDark;
	// height: ($topbar-height / 2) !important;
}
.top-bar input {
  background-color: $whiteDark;
  // color: $greyMedium;
}

form {
  input {
    top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    width: 148px;
    height: 26px;
  }
}

a.button {
	top: 0px;
	margin-top: 0rem;
	height: 26px;
	&:hover,
	&:focus {
		background: $goldLight !important;
	}
}
// }


#primary-navigation {
	@include headingFont();
	background: $whiteDark;
  border-top: 6px solid $goldDark;
  border-bottom: 3px solid $goldLight;
	text-align: center;
	margin: 0 auto;
	li {
		display: inline-block;
		padding: 0.5rem 0;
		&:hover,
		&:focus {
			// background: $goldLight;
			background: $whiteLight;
		}
		&:before {
			// content: '|';
		}
		a {
			color: $blackLight;
      font-size: 0.875rem;
      // font-size: 0.75rem;
      // font-weight: bold;
			padding: 0.5rem 3px;
			// padding: 0.5rem 0;
			&:before {
//				color: $whiteDark;
				// content: '| ';
			}
			&:hover,
			&:focus {
				content: none;
			}
		}
	}
}
#primary-nav-wrapper {
	background: $goldDark;
}

// Navigation text styling
#page-title,
// .title,
#primary-navigation,
#primary-navigation-mobile,
.tab-bar .off-canvas-list {
	text-transform: uppercase;
}

// Navigation (Small and Medium)
//.tab-bar-section #ag-heritage-seal {
//	height: $tabbar-height - 0.25rem;
//}
.tab-bar {
	border-bottom: 0.25rem solid $goldDark;
	box-sizing: content-box;
	// padding-bottom: 0.5rem;
	h1.title {
	line-height: 1.35rem;
	font-weight: normal;
	//	padding-left: 0.5rem;
	//	padding-top: 0.125rem;
	}
	a {
		color: $whiteDark;
	}
}

.right-off-canvas-menu {
	background: $greenDark;
	// @include headingFont(13px);
	label {
		border-top: none !important;
	}
	input[type="search"] {
		margin: 0 0 0 0;
	}
	#small-search{
	padding-top: 40px;
	padding-left: 7px;
	padding-bottom: 0px;
	padding-right: 7px;
	}
}

ul.off-canvas-list li a {
	color: $whiteDark;
	// &:hover {
	// 	background: $goldDark;
	// }
}

.orbit-bullets-container {
	margin-top:-60px;
	margin-right: 0.9375rem;
	// .orbit-bullets {
		// float: right;
	// }
}
//.main-section > row > column
.slider {
	padding: 0;
	// z-index: -1;
}

.orbit-slide-number {
	display: none;
}

#homepage-main-content {
	background-color: $greyMedium;
	.panel {
    border-radius: $agHeritageBorderRadius;
		margin-top: 0.9375rem;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $goldDark;
	}
}

#main-content {
	background-color: $whiteDark;
	color: $greenDark;
  h1 {
    color: $greenDark;
    margin-top: o;
  }
}

// .side-nav li a {
// 	color: $greenDark;
// 	&:hover {
// 		color: $greenDark;
// 	}
// }

// #primary-content-column {
// 	h1 {
// 		margin-top: 0;
// 		@include headingFont(17pt);
//   }
// }

// #main-content {
// 	h1 {
// 		// @include headingFont(17pt);
// 		margin-top: 0;
// 	}
// 	h2 {
// 		// @include headingFont(15pt);
// 	}
// 	h3 {
// 		// @include headingFont(13pt);
// 	}
// 	h4 {
// 		// @include headingFont(12pt);
// 	}
// 	h5 {
// 		// @include headingFont(12pt, italic);
// 	}
// }

#left-navigation {
	background-color: $greenLight;
  padding-top: 0.9375rem;
}

#footer-wrapper {
	background-color: $greyMedium;
}
footer {
  background-color: $greenDark;
  a {
    color: $whiteDark;
    &:hover,
    &:focus {
      color: $greyLight;
    }
  }
  h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    &:first-child {
      margin-top: 1.3rem;
    }
  }
  .columns {
    border: none;
    padding-right: 0;
  }
  .side-nav li {
    margin: 0;
    padding: 0.25rem inherit;
    line-height: 1.1;
    a:not(.button)  {
      color: $whiteDark;
      &:hover,
      &:focus {
        color: $greyLight;
      }
    }
  }
}
#address {
  background-color: $whiteDark;
  border: none;
  border-top-left-radius: $agHeritageBorderRadius;
  border-bottom-left-radius: $agHeritageBorderRadius;
  color: $blackLight;
  margin-right: -1rem ; //-0.9375rem;
  margin-bottom: 0;
  padding: 0.50rem inherit;
  line-height: 1.4;
  width: 100%;
  a {
    color: $blackLight;
    &:hover,
    &:focus {
      color: $greyDark;
    }
  }
}

#social-media-icons {
	margin: 1rem;
	img {
		// float: right;
	}
}
#state-info {
	color: $whiteDark;
	margin-top: 1rem;
	margin-bottom: 0;
	padding: 0.5rem inherit;
	padding-left: 50px;
	margin-left: 1rem;
	line-height: 1rem;

	background: url('/img/sdsu.png') no-repeat;
	background-size: 48px 100px ;
	background-position: left center;
	
	.vcard {
		border: none;	
	}

}


// Small-sized screens only
@media #{$screen} and (max-width: #{upper-bound($small-range)})
{
	footer {
    .columns,
    .column {
      // background: $greyMedium;
  		padding-left: 0;
  		padding-right: 0;
  	}
    #address,
    #copyright {
      background: $greyMedium;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      text-align: left;
    }
  }
	#social-media-icons,
  #address,
  #copyright {
		width: 100%;
    padding: 0.5rem;
	}
}

// Small-sized screens and up
@media #{$screen} and (min-width:#{lower-bound($small-range)})
{
	#homepage-main-content .columns {
		.panel {
			margin-bottom: 0;
		}
		&:last-child .panel {
			margin-bottom: 0.9375rem;
		}
	}
}

// Small- and medium-sized screens only (not large)
// @media #{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($medium-range)})
// {
// 	#left-navigation {
// 		padding-top: 1.25rem;
// 	}
// }
// Medium-sized screens only
@media #{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})
{
	#ag-heritage-seal {
		height: ($tabbar-height * 2) - 0.25rem !important;
		margin-left: 1rem !important;
	}
}

// Medium-sized screens and up
@media #{$screen} and (min-width:#{lower-bound($medium-range)})
{
	#social-media-icons {
		text-align: right !important;
	}
	#copyright {
		background: $greenDark;
		color: $greyLight;
	}
}

// Large-sized screens and up
@media #{$screen} and (min-width:#{lower-bound($large-range)})
{
	#primary-navigation {
    li:first-child {
      margin-left: 3.75rem; // 60px / 3.75rem
    }
		li, a {
			// padding: inherit 0.5rem;
			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}
	}
	.main-section,
	.main-section > .row {
//		clear: both;
//		z-index: -1;
	//	position:relative;
	}

	#homepage-main-content .columns {
		padding-right: 0;
		&:last-child {
			// padding-right: 0.9375rem;
			padding-right: 1.25rem;
		}
	}
  #left-navigation {
    padding-top: 4rem;
  }
}
