<div id="footer-wrapper">
	<footer class="row">
		<!-- Left Column (Navigation) -->
		<div class="medium-8 columns hide-for-small">
			<div class="row">
				<div class="medium-4 columns">
					<h6>
						<a href="secondaryPage_2-column.html">About</a>
					</h6>
					<h6>
						<a href="secondaryPage_2-column.html">Collections</a>
					</h6>
					<ul class="side-nav">
						<li><a href="#">Large Artifact Collection</a></li>
						<li><a href="#">Beckman Archive</a></li>
					</ul>

					<h6>
						<a href="secondaryPage_2-column.html">Educators</a>
					</h6>

					<h6>
						<a href="secondaryPage_2-column.html">News &amp; Events</a>
					</h6>

				</div>

				<div class="medium-4 columns">

					<h6>
						<a href="secondaryPage_2-column.html">Get Involved</a>
					</h6>
					<ul class="side-nav">
						<li><a href="#">Make a Donation</a></li>
						<li><a href="#">Become a Member</a></li>
						<li><a href="#">National History Day</a></li>
						<li><a href="#">Volunteer</a></li>
					</ul>
	


						<h6>
							<a href="secondaryPage_2-column.html">Store</a>
						</h6>
						<ul class="side-nav">
							<li><a href="#">Bookstore</a></li>
							<li><a href="#">Children's Books &amp; Toys</a></li>
							<li><a href="#">Immigrant Experience</a></li>
							<li><a href="#">Gift &amp; History Books</a></li>
							<li><a href="#">Cookbooks</a></li>
							<li><a href="#">Meat Lab Offerings</a></li>
							<li><a href="#">Order Form</a></li>
						</ul>
				</div>
				<div class="medium-4 columns">

						<h6>
							<a href="secondaryPage_2-column.html">Plan Your Visit</a>
						</h6>
						<ul class="side-nav">
							<li><a href="#">Hours</a></li>
							<li><a href="#">Directions &amp; Parking</a></li>
							<li><a href="#">Accomodations</a></li>
						</ul>

						<h6>
							<a href="secondaryPage_2-column.html">Sponsors</a>
						</h6>
				</div>
			</div> <!-- Row End Navigation -->
		</div>
			<!-- End Left Column -->
			<!-- Right Column (Social media and address information) -->

			<div class="medium-4 columns">
				<div id="social-media-icons" class="text-center">
					<a href="#"><img src="img/email.png" /></a>
					<a href="#"><img src="img/newsletter.png" /></a>
					<a href="#"><img src="img/blog.png" /></a>
					<a href="#"><img src="img/twitter.png" /></a>
					<a href="#"><img src="img/facebook.png" /></a>
				</div>
				<ul id="address" class="vcard">
					<li class="fn">South Dakota<br>Agricultural Heritage Museum</li>
					<li class="street-address">925 11th Street</li>
					<li>
						<span class="city">Brookings</span>, <span class="state">SD</span> <span class="zip">57007</span>
					</li>
					<li><a href="tel:605-688-6226">605-688-6226</a></li>
					<!-- <li class="email"><a href="#">http://www.sdstate.edu/agmuseum/emailus.cfm</a></li> -->
				</ul>
				<!-- Copyright -->
				<div id="state-info">
					<ul class="vcard">
						<li class="fn">South Dakota<br> State University</li>
						<li>
							<span class="city">Brookings</span>, <span class="state">SD</span> <span class="zip">57007</span>
						</li>
						<li><a href="tel:1-800-952-3541">1-800-952-3541</a></li>
						<li>
							Copyright © 2014
						</li>
					</ul>
				</div>
				</div>

				<!-- End Copyright -->

			<!-- End Right Column -->
		</footer>
	</div>
