<!-- <div id="primary-nav-wrapper"> -->
	<!-- <div class="row"> -->
		<!-- <div class="column"> -->
			<ul id="primary-navigation" class="hide-for-small">
			<!-- <ul class="inline-list hide-for-small"> -->
				<!-- Primary Navigation -->
				<li><a href="secondaryPage_1-column.html">About</a></li>
				<li><a href="secondaryPage_1-column.html">Collections</a></li>
				<li><a href="secondaryPage_1-column.html">Educators</a></li>
				<li><a href="secondaryPage_1-column.html">News &amp; Events</a></li>
				<li><a href="secondaryPage_1-column.html">Get Involved</a></li>
				<li><a href="secondaryPage_1-column.html">Store</a></li>
				<li><a href="secondaryPage_1-column.html">Plan Your Visit</a></li>
			</ul>
		 <!-- </div> -->
	<!-- </div> -->
<!-- </div> -->
