<nav class="tab-bar show-for-small">

	<section class="right-small">
		<a class="right-off-canvas-toggle menu-icon"><span></span></a>
	</section>

	<section class="tab-bar-section">
		<h1 class="title text-left">
			<a href="index.html">South Dakota<br />Ag Heritage Museum</a>
		</h1>
	</section>

</nav>

<!-- Off Canvas Menu -->
<aside class="right-off-canvas-menu">
	<ul id="primary-navigation-mobile" class="off-canvas-list">

		<div id = "small-search">
			<input type="text" placeholder="Search">
	    {{!-- <a href="#" id="searchbutton" class = "tiny button expand">Search</a> --}}
	    <span class="gicon-search gicon-white"></span>
  		</div>

		<hr>

		<!-- <li><label>Audience</label></li> -->
		<li><a href="secondaryPage_2-column.html">Join</a></li>
		<li><a href="secondaryPage_2-column.html">Donate</a></li>
		<li><a href="secondaryPage_2-column.html">Contact Us</a></li>
		<hr>
		<!-- <li class="divider"></li> -->
		{{!-- <li><label></label></li> --}}
		<li><a href="secondaryPage_1-column.html">About</a></li>
		<li><a href="secondaryPage_2-column.html">Museum Collections</a></li>
		<li><a href="secondaryPage_2-column.html">Educators</a></li>
		<li><a href="secondaryPage_2-column.html">News &amp; Events</a></li>
		<li><a href="secondaryPage_2-column.html">Get Involved</a></li>
		<li><a href="secondaryPage_2-column.html">Museum Store</a></li>
		<li><a href="secondaryPage_2-column.html">Plan Your Visit</a></li>


		<hr>


		</ul>


</aside>
