<nav class="top-bar hide-for-small" data-topbar>

	<!-- Left Div -->
	<section class="top-bar-section left">

		<a href="index.html">
			<img id="ag-heritage-seal" src="img/ag-heritage-seal.png" class="left" />
		</a>
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1 id="page-title-medium-up">
					<a href="index.html">South Dakota<br />Agricultural Heritage Museum</a>
				</h1>
			</li>
		</ul>
	</section>

	<!-- Right Div -->

		<section class="top-bar-section right">

			<ul id="join-donate-contact" class="right">
				<!-- Top Navigation -->
				<li><a href="#">Join</a></li>
				<li><a href="#">Donate</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>

			<ul id="search">
				<li>
				<form>
				<input type="text">
				</form>
				</li>
				<li>
				<a href="#" class="button expand">Search</a>
				</li>
			</ul>

		</section>
	</nav>
