<!-- <div class="contain-to-grid"> -->
	<ul id="primary-navigation" class="inline-list hide-for-small">
		<!-- Primary Navigation -->
		<li><a href="#">About</a></li>
		<li><a href="#">Museum Collections</a></li>
		<li><a href="#">Educators</a></li>
		<li><a href="#">News &amp; Events</a></li>
		<li><a href="#">Get Involved</a></li>
		<li><a href="#">Museum Store</a></li>
		<li><a href="#">Plan Your Visit</a></li>
	</ul>
<!-- </div> -->
