<nav class="tab-bar show-for-small">

	<section class="right-small">
		<a class="right-off-canvas-toggle menu-icon"><span></span></a>
	</section>

	<section class="tab-bar-section">
		<h1 class="title text-left">
			<a href="#">South Dakota<br />Agricultural Heritage Museum</a>
		</h1>
	</section>

</nav>

<!-- Off Canvas Menu -->
<aside class="right-off-canvas-menu">
	<ul id="primary-navigation-mobile" class="off-canvas-list">
		<!-- <li><label>Audience</label></li> -->
		<li><a href="#">Join</a></li>
		<li><a href="#">Donate</a></li>
		<li><a href="#">Contact Us</a></li>
		<hr>
		<!-- <li class="divider"></li> -->
		{{!-- <li><label></label></li> --}}
		<li><a href="#">About</a></li>
		<li><a href="#">Museum Collections</a></li>
		<li><a href="#">Educators</a></li>
		<li><a href="#">News &amp; Events</a></li>
		<li><a href="#">Get Involved</a></li>
		<li><a href="#">Museum Store</a></li>
		<li><a href="#">Plan Your Visit</a></li>
		<!-- <li class="divider"></li> -->
		{{!-- <li><label></label></li> --}}
		<!-- <li><label>Search</label></li> -->
<!-- 		<li class="has-button"><a class="small button" href="#">Search</a></li> -->

		<!-- <li class="divider"></li> -->
		{{!-- <li><label></label></li> --}}
	

		<hr>
<!-- 		<li><a href="#">Search</a></li> -->
	{{!-- <div class = "right"> --}}
		{{!-- <div class="small-6 columns left"> --}}
		 <li class = "search"><form><input type="search">
		{{!-- <div class="small-4 columns left"> --}}
		<a href="#" class="button expanded">Search</a></form></li>
		{{!-- </div> --}}
	{{!-- </div>  --}}

		<hr>

		</ul>
</aside>
