<nav class="top-bar hide-for-small" data-topbar>

	<!-- Left Div -->
	<section class="top-bar-section">

		<img style="overflow: hidden;" id="ag-heritage-seal" src="img/ag-heritage-logo-small.png" class="left" height="60px" />
		<ul class="title-area">
			<!-- Title Area -->
			<!-- logo will go here -->
			<li class="name">
				<h1 id="page-title"><a href="#">South Dakota<br />Agricultural Heritage Museum</a></h1>
			</li>
		</ul>
	</section>

	<!-- Right Div -->
	<section class="top-bar-section right">

		<ul id="join-donate-contact" class="">
			<!-- Top Navigation -->
			<li><a href="#">Join</a></li>
			<li><a href="#">Donate</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
<!-- 		<br /> -->
		<ul id="search" class="right">
			<!-- Search -->
			<li class="search">
				<form>
					<input type="search" placeholder="Search">
				</form>
			</li>
		</ul>

	</section>

</nav>
