<nav class="top-bar hide-for-small" data-topbar>

	<!-- Left Div -->
	<section class="top-bar-section left">

		<img id="ag-heritage-seal" src="img/ag-heritage-seal.png" class="left" />
		<ul class="title-area">
			<!-- Title Area -->
			<!-- logo will go here -->
			<li class="name">
				<h1 id="page-title-medium-up"><a href="#">South Dakota<br />Agricultural Heritage Museum</a></h1>
			</li>
		</ul>
	</section>

	<!-- Right Div -->
	<section class="top-bar-section right">

		<ul id="join-donate-contact" class="">
			<!-- Top Navigation -->
			<li><a href="#">Join</a></li>
			<li><a href="#">Donate</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
<!-- 		<br /> -->
		<ul id="search" class="right">
			<!-- Search -->
			{{!-- <li class="search"> --}}
				<div class="small-8 columns left">
				  <input type="text"></div>
				<div class = "small-3 columns left">
				  <a href="#" class="button tiny right">Search</a>
				</div>
			{{!-- </li> --}}
		</ul>

	</section>

</nav>
