<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>South Dakota Agricultural Heritage Museum</title>
		<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="js/modernizr.js"></script>
  </head>
  <body>

    <script type="text/javascript">
      $('body').off('click.tab.data-api');
   </script>

		<div class="off-canvas-wrap">
		  <div class="inner-wrap">

        <div class="contain-to-grid">
  				<!-- First Row Navigation -->
  				{{> top-bar}}
        </div>

        <!-- Second Row (Main) Navigation -->
        {{> primary-navigation}}

				<!-- First and Second Row Navigation (for small screens) -->
				{{> small-screen-navigation}}

		    <section class="main-section">

					<!-- Main content begins here -->
					{{> body}}

				</section> <!-- .main-section -->

			  <!-- close the off-canvas menu -->
			  <a class="exit-off-canvas"></a>

		  </div> <!-- .off-canvas-wrap -->

		</div> <!-- .inner-wrap -->


    <!-- <script src="js/main.js"></script> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
