---
layout: app/layouts/default.hbs
---

<!-- Start Main Content -->
<div class="row" data-equalizer>

	<div id="main-content" class="small-12 medium-10 medium-push-2 large-9 large-push-3 columns" data-equalizer-watch>

		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="unavailable"><a href="#">Gene Splicing</a></li>
			<li class="current"><a href="#">Cloning</a></li>
		</ul>

		<div class="row">
			{{> body}}
		</div>
	</div>

	<!-- Start Side navigation -->
	<div id="left-navigation" class="small-12-reset-order medium-pull-10 medium-2 large-pull-9 large-3 columns" data-equalizer-watch>
		<ul class="side-nav">
			<li>Link 1</li>
			<li>Link 2</li>
			<li>Link 3</li>
			<li>Link 4</li>
			<li>Link 5</li>
			<li>Link 6</li>
			<li>Link 7</li>
		</ul>
	</div>
</div>
<!-- End Main Content -->

{{> footer}}
