---
layout: app/layouts/default.hbs
---

<!-- Start Main Content -->
<div class="row" data-equalizer>

	<div id="main-content" class="small-12 medium-10 medium-push-2 large-9 large-push-3 columns" data-equalizer-watch>

		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="unavailable"><a href="#">Gene Splicing</a></li>
			<li class="current"><a href="#">Cloning</a></li>
		</ul>

		<div class="row">
			{{> body}}
		</div>
	</div>

	<!-- Start Side navigation -->
	<div id="left-navigation" class="small-12-reset-order medium-pull-10 medium-2 large-pull-9 large-3 columns" data-equalizer-watch>
<!-- 	<div class="left-navigation-spacer show-for-large-up"></div> -->
		<ul class="side-nav">
			<li>
				<a href="secondaryPage_1-column.html">Full-width Secondary Page</a>
			</li>
			<li>
				<a href="secondaryPage_2-column.html">Two-column Secondary Page</a>
			</li>
			<li>
				<a href="index.html">Orbit Slider</a>
			</li>
		</ul>
	</div>
</div>
<!-- End Main Content -->

{{> footer}}
