<!-- Main content begins here -->
<!-- Start Marketing Template Content Slider -->
<div class="row">        
	<div class="large-12"> 
		<!-- Need to add a height here to make sure the slider is displayed: http://stackoverflow.com/questions/623172/how-to-get-image-size-height-width-using-javascript -->
		<div id="featured" data-orbit> 
			<img src="img/andromeda-orbit.jpg" alt="slide image">
			<img src="img/launch-orbit.jpg" alt="slide image">
			<img src="img/satelite-orbit.jpg" alt="slide image">
		</div>

	</div>
</div>
<br>
<!-- End Content Slider -->

<!-- Start Main Content -->
<div id="homepage-main-content" class="row" data-equalizer>
	<!-- Left Column -->
	<div class="medium-4 columns">
		<div class="panel" data-equalizer-watch>
			<h4>
				Admissions
			</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<h4>
				Museum Hours
			</h4>
			<p>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<h4>
				National History Day: South Dakota
			</h4>
			<p>
				The National History Day
			</p>
							
		</div>
	</div>
	<!-- End Left Column -->
	<!-- Middle Column -->
	<div class="medium-4 columns">
		<div class="panel" data-equalizer-watch>
			<h4>
				Featured Event or News Story
			</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<!-- End Middle Column -->
	<!-- Right Column -->
	<div class="medium-4 columns">
		<div class="panel" data-equalizer-watch>
			<h4>
				Featured Artifact or Store Item
			</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<!-- End Right Column -->
</div>
<!-- End Main Content -->


<!-- Footer -->
{{> footer}}
<!-- End Footer -->

<!-- Main content ends here -->
