<!-- Main content begins here -->

<!-- Start Side navigation -->


	<!-- Start Main Content -->
	<div id="main-content" class="small-12 medium-10 medium-push-2 large-9 large-push-3 columns" data-equalizer-watch>
		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="unavailable"><a href="#">Gene Splicing</a></li>
			<li class="current"><a href="#">Cloning</a></li>
		</ul>
		<h1>Testest</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
			est laborum.
		</p>
	</div>
	<div class="row" data-equalizer>					
	<div id="left-navigation" class="small-12-reset-order medium-pull-10 medium-2 large-pull-9 large-3 columns" data-equalizer-watch>
		<ul class="side-nav">
			<li>None shall pass</li>
			<li>What are you going to do?</li>
		</ul>
	</div>
</div>
<!-- End Main Content -->

<!-- Footer -->
{{> footer}}
<!-- End Footer -->

<!-- Main content ends here -->
				