<!-- Main content begins here -->
<div class = "row">

			<div class = " small-12 medium-10 medium-push-2 large-9 large-push-3 columns" id = "main-content" data-equalizer-watch>

				<ul class="breadcrumbs">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">Features</a></li>
				  <li class="unavailable"><a href="#">Don't go</a></li>
				  <li class="current"><a href="#">2-column page</a></li>
				</ul>
		


				<!-- secPage -->
				{{> secPage-column}}
				<!-- secPage -->



					</div>

<div class = "row">

	<div class = "small-12 medium-10 medium-push-2 large-9 large-push-3 columns " id="left-navigation" >
				<ul class=" side-nav" data-equalizer-watch>
				  <li><a href="#">Link 1</a></li>
				  <li><a href="#">Link 2</a></li>
				  <li><a href="#">Link 3</a></li>
				  <li><a href="#">Link 4</a></li>
				  <li><a href="#">Link 5</a></li>
				  <li><a href="#">Link 6</a></li>
				  <li><a href="#">Link 7</a></li>
				  <li><a href="#">Link 8</a></li>
				</ul>
		</div>
	</div>
</div>

<br>

<!-- Footer -->
{{> footer}}
<!-- End Footer -->

<!-- Main content ends here -->
